.body-grid {
  display: grid;
  grid-template-rows: [header] 100px [content] auto [footer] 100px;
  row-gap: 8px;
  background-color: var(--background-color);
}

.header {
  grid-row: header;
  background-color: var(--primary-color);
  color: whitesmoke;
}

.header-title-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.content {
  grid-row: content;
  background-color: var(--content-background-color);
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Interest Box */
.interest-box {
  color: whitesmoke;
  padding: 8px;
  box-shadow: 0 9px 15px -1px rgba(0, 0, 0, 0.63);
}

.movies {
  background-color: teal;
}

.series {
  background-color: #9bc1bc;
}

.books {
  background-color: #5ca4a9;
}

.video-games {
  background-color: darkolivegreen;
}

.interest-box-items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interest-box-items > li {
  list-style-type: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 8px;
  margin-bottom: 8px;
}

.info-footer {
  grid-row: footer;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

@media screen and (min-width: 800px) {
  .body-grid {
    grid-template-columns: [left-gutter] 80px [content] auto [right-gutter] 80px;
  }

  .header {
    grid-column: content;
  }

  .content {
    grid-column: content;
  }

  .info-footer {
    grid-column: content;
  }
}

@media print {
  h2 {
    color: red;
  }
}
