/* Interest Box */
.interest-box {
  color: whitesmoke;
  background-color: darkolivegreen;
  padding: 8px;
  box-shadow: 0 9px 15px -1px rgba(0, 0, 0, 0.63);
}

.interest-box-items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.like-button {
}

.interest-box-items > li {
  list-style-type: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 8px;
  margin-bottom: 8px;
}

.info-footer {
  grid-row: footer;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
